*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body{
    font-family: "Montserrat", serif;
    display: grid;
    place-content: center;
    min-height: 100vh;
    padding: 1rem;
    background-color: var(--cream);
    font-size: 0.875rem;
}
img {
    max-width: 100%;
    display: block;
  }
  .image__mobile {
    border-radius: 1rem 1rem 0 0rem;
  }
  .image__desktop {
    display: none;
  }  
h1{
    font-family: "Fraunces", serif;
    font-size: 1.8rem;
    line-height: 1;
}

:root {
    /* Primary */
    --dark-cyan: #2d6a4f;
    --very-dark-cyan: #004d2c;
    --cream: #f5e1a4;
  
    /* Neutral */
    --very-dark-blue: #1a1d2e;
    --dark-grayish-blue: #3e4a61;
    --white: #ffffff;
  }
  .container{
    display: grid;
    grid-template-columns: 1;
    border-radius: 1rem;
    max-width: 36rem;
    background-color: var(--white); /* Distribute space between the containers */
  }
  
  .container_image {
    /* Align the first container to the right */
    margin-left: auto;
  }
  
  .container_details {
    /* Align the second container to the left */
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;
  }  
.container_category {
    text-transform: uppercase;
    color: var(--dark-cyan);
    letter-spacing: 0.2rem;
}

.container_description, .container_discount {
    color: var(--dark-grayish-blue);
}

.container_description {
    line-height: 1.5;
}

.container_footer {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.container_price {
    font-family: "Fraunces", sans-serif;
    font-size: 2rem;
    font-weight: 700;
    color: var(--dark-cyan);
  }
.container_discount {
    text-decoration: line-through;
  }
 
  button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    width: 100%;
    padding: 0.875rem 1rem;
    border-radius: 0.5rem;
    border: 0px;
    background-color: var(--dark-cyan);
    color: white;
    font-weight: 700;
    cursor: pointer;
  }
  
  button:hover,
  button:focus {
    background-color: var(--very-dark-cyan);
  }
  
  @media screen and (min-width: 640px) {
    .image__mobile {
      display: none;
    }
  
    .image__desktop {
      display: block;
      border-radius: 1rem 0 0 1rem;
    }
    .container {
      grid-template-columns: 50% 50%;
    }
  }  
.attribution { 
    font-size: 11px; 
    text-align: center; 
}
.attribution a { 
    color: hsl(228, 45%, 44%); 
}
